<% provide(:title, "About") %>
<h1>About</h1>
<p>
  This is a Twitter-Like app based on the<a href="http://www.railstutorial.org/"><em> Ruby on Rails
  Tutorial.</em></a> 
  Its name is <%= link_to "Mini Tw", root_path %> in honor to the base idea and
  the purpose of the development of this app is to learn some of the concepts of the <a href="http://rubyonrails.org/">Ruby on Rails</a> framework.
</p>