<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<p>
  To get in touch with the administrators of <%= link_to "Mini Tw", root_path %> 
  please send an email to <%= mail_to "mconiglio.782@gmail.com", "Mauricio Coniglio" %>.
</p>